<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <meta lang=“english”>
    <meta title=“bank”>
    <title>Banking System</title>
  </head>
  <body>
    <h1>Edit branch</h1>
		<form class="newbranch">
        <input class="bankId" id="BankId" type="text" name="bankId" hidden="true">
        <input class="branchId" id="BranchId" type="text" name="branchId" hidden="true">
        <label class="heading">branch name:</label>
        <input class="data" id="BranchName"type="text" name="branchkName">
        <label class="heading">Address:</label>
        <input class="data" id="BranchAddress" type="text" name="address">
        <br>
        <label class="heading">IFSC_code:</label>
        <input class="data" id="IFSC_code" type="text" name="IFSC_code">
        <label class="heading">Contact_no:</label>
        <input class="data" id="ContactNo" type="text" name="contact_no">
        <input class="button submit" type="button" value="Submit">
      </form> 
  </body>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var pageLoaded = new EditBranch.pageLoaded();
    });
  </script>
</html>
