<h1>Listing atms</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th colspan="3"></th>
  </tr>
  <% @atms.each do |atm| %>
    <tr>
      <td><%= atm.id %></td>
      <td><%= atm.name %></td>
      <td><%= atm.address %></td>
      <td><%= link_to 'Show', atm_path(atm) %></td>
    </tr>
  <% end %>
</table>